@font-face {
    font-family:CHOXR;
    src: url(../fonts/CHOXR.ttf);
}

@font-face {
    font-family: Arcadeclassic-regular;
    src: url(../fonts/arcadeclassic.regular.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color:black;
    scroll-behavior: smooth;
}

.wrapped {
    max-width: 1600px;
    margin: 0 auto;
    padding:0 25px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    
}
nav > a > img {
    width:150px;
    height: auto;
    display: flex;
}

 .bottoms-menu > ul {
    list-style: none;
    display: flex;
    gap: 24px ;
 }
 .bottoms-menu > ul > li > a {
    text-decoration: none;
    color:#FF58A3;
    font-family:"Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 25px;
 }
header{
    display: flex;
    width: 100%;
    height: auto;
    padding: 140px 10px;
    align-items: center;
    justify-content: center;
}
 header > img {
    width: 92%;
    height: auto;
    display: flex;
 }

.divider{
background-color: #FF58A3;
color: black;
font-family: "CHOXR";
font-size: 50px;
display: flex;
align-items: center;
align-content:center;
justify-content: center;
}

#about-me {
 display: flex;
 flex-direction: column;
 padding: 20px 30px;
}

.about-me-top{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-top: 50px;
}
.portfolio-img {
    background-color: rgba(255, 88, 163, 0.594);
    border: 3px #FF58A3 solid;
    border-radius: 10%;
    height: fit-content ;
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 400px 400px;
   min-width: none;
}
.portfolio-img > img{
    overflow: hidden;
    border-radius: 10%;
    object-fit: cover;
}

.about-me-info > h1 {
    font-family: "CHOXR";
    font-size: 70px;
    color: #FF58A3;
    font-weight: 8;
}
.about-me-info > p {
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 75px;
    color: white;
}
.about-me-info > a {
    text-decoration: none;
    color: black;
    border-radius: 100px;
    background-color: #FF58A3;
    font-family:"CHOXR" ;
    padding: 0 50px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;  
    gap: 10px;
}

.about-me-bottom{
    display: flex;
    align-items: flex-start;
    gap:  10px 40px;
    margin-top: 35px;
}
.software{
   gap:0 20px;
   padding: 20px;
   margin-bottom: 30px;
   margin-right: 130px;
   margin-left: 10px;

}
.software > span{
    display: flex;
    justify-content: left;
    align-items:center;
    color: white;
    font-family:"Arcadeclassic-regular";
    font-size: 30px;
    border-radius: 40px ;
    border: 2px #FF58A3 solid;
    height: auto;
    margin-bottom: 30px;
    width: fit-content;
    padding: 10px 30px

}

.software > ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0%;
    margin: 0%;
   align-items: center;
   justify-content: left;
}
.software > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.software > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 60px;
    border: 2px #FF58A3 solid;
    border-radius: 20%;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 0%;
    background-color: white;
}
.software > ul > li:nth-child(5) > a {
    background-color: black;
}
.software > ul > li:nth-child(5) > a > i{
    font-size: 30px;
    color: white;
}
.software > ul > li:last-child > a{
    background-color: black;
}
.software > ul > li:last-child > a > i{
    font-size: 35px;
    color: white;
}

.languages{
   gap:0 20px;
   padding: 20px;
   margin-bottom: 30px;
   margin-right: 50px;
   margin-left: 150px;
}

.languages > span {
   display: flex;
    justify-content: left;
    align-items:center;
    color: white;
    font-family:"Arcadeclassic-regular";
    font-size: 30px;
    border-radius: 40px ;
    border: 2px #FF58A3 solid;
    height: auto;
    margin-bottom: 30px;
    width: fit-content;
    padding: 10px 30px  
}

.languages > ul {
    list-style: none;
    display: flex;
    padding: 0%;
    margin: 0%;
   align-items: flex-start;
   justify-content: left;
   flex-direction: column;
}

.languages > ul > li {
    color: white;
    font-size: 30px;
    font-family: "Arcadeclassic-regular";

}