@font-face {
    font-family:CHOXR;
    src: url(../fonts/CHOXR.ttf);
}

@font-face {
    font-family: Arcadeclassic-regular;
    src: url(../fonts/arcadeclassic.regular.ttf);
}

@font-face {
    font-family: Retrogression-Regular;
    src: url(../fonts/Retrogression-Regular.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color:black;
    scroll-behavior: smooth;
}

.wrapped {
    max-width: 1600px;
    margin: 0 auto;
    padding:0 25px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    position:fixed;
    top: 0;
    left: 25px;
    right: 25px;
    width: 95%;
    z-index: 9999;
    
}
nav > a > img {
    width:150px;
    height: auto;
    display: flex;
}

.bottoms-menu > ul {
    list-style: none;
    display: flex;
    gap: 24px ;
 }
.bottoms-menu > ul > li > a {
    text-decoration: none;
    color:#FF58A3;
    font-family:"Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 25px;
    transition: 0,5s;
 }
 .bottoms-menu > ul > li > a:hover{
    color:#ff1d82;
    font-size: 27px;

 }
.header-home{
    display: flex;
    width: 100%;
    height: auto;
    padding: 140px 5px;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.header-home > img {
    width: 92%;
    height: auto;
    display: flex;
 }

.divider{
background-color: #FF58A3;
color: black;
font-family: "CHOXR";
font-size: 50px;
display: flex;
align-items: center;
align-content:center;
justify-content: center;
}

#about-me {
 display: flex;
 flex-direction: column;
 padding: 20px 30px;
}

.about-me-top{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-top: 50px;
}
.portfolio-img {
    background-color: rgba(255, 88, 163, 0.594);
    border: 3px #FF58A3 solid;
    border-radius: 10%;
    height: fit-content ;
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 400px 400px;
   min-width: none;
}
.portfolio-img > img{
    overflow: hidden;
    border-radius: 10%;
    object-fit: cover;
}

.about-me-info > h1 {
    font-family: "CHOXR";
    font-size: 70px;
    color: #FF58A3;
    font-weight: 8;
}
.about-me-info > p {
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 75px;
    color: white;
}
.about-me-info > a {
    text-decoration: none;
    color: black;
    border-radius: 100px;
    background-color: #FF58A3;
    font-family:"CHOXR" ;
    padding: 0 50px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;  
    gap: 10px;
    transition: 0,5s;
}
.about-me-info > a:hover{
    background-color: #ff1d82;
    color:white;
}

.about-me-bottom{
    display: flex;
    align-items: flex-start;
    gap:  5px 40px;
    margin-top: 35px;
}
.software{
   gap:0 20px;
   padding: 20px;
   margin-bottom: 30px;
   margin-right: 130px;
   margin-left: 10px;

}
.software > span{
    display: flex;
    justify-content: left;
    align-items:center;
    color: white;
    font-family:"Arcadeclassic-regular";
    font-size: 30px;
    border-radius: 40px ;
    border: 2px #FF58A3 solid;
    height: auto;
    margin-bottom: 30px;
    width: fit-content;
    padding: 10px 30px

}

.software > ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0%;
    margin: 0%;
   align-items: center;
   justify-content: left;
}
.software > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.software > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 60px;
    border: 2px #FF58A3 solid;
    border-radius: 20%;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 0%;
    background-color: white;
}
.software > ul > li:nth-child(5) > a {
    background-color: black;
}
.software > ul > li:nth-child(5) > a > i{
    font-size: 30px;
    color: white;
}
.software > ul > li:last-child > a{
    background-color: black;
}
.software > ul > li:last-child > a > i{
    font-size: 35px;
    color: white;
}

.languages{
   gap:0 20px;
   padding: 20px;
   margin-bottom: 30px;
   margin-right: 50px;
   margin-left: 150px;
}

.languages > span {
   display: flex;
    justify-content: left;
    align-items:center;
    color: white;
    font-family:"Arcadeclassic-regular";
    font-size: 30px;
    border-radius: 40px ;
    border: 2px #FF58A3 solid;
    height: auto;
    margin-bottom: 30px;
    width: fit-content;
    padding: 10px 30px  
}

.languages > ul {
    list-style: none;
    display: flex;
    padding: 0%;
    margin: 0%;
   align-items: flex-start;
   justify-content: left;
   flex-direction: column;
}

.languages > ul > li {
    color: white;
    font-size: 30px;
    font-family: "Arcadeclassic-regular";
}

#watch-my-work{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

#watch-my-work >h1 {
    align-items: center;
    align-content:center;
    gap: 20px;
    color: #FF58A3;
    font-family: "CHOXR";
    font-size: 200px ;
    font-weight: 8;
    text-align: center;
    margin: 80px;
    padding: 0;
    line-height: 1;
    margin-bottom: 30px;
}

#watch-my-work > h1 > span {
    color: white;
}

#watch-my-work > a {
    color: white;
    font-family:"Arcadeclassic-regular" ;
    font-size: 50px;
    text-decoration: none;
    margin-bottom: 80px;
    align-items: center;
    border: 3px #FF58A3 solid;
    padding: 10px 60px;
    border-radius: 30px;
    transition: 0,8s;
}
#watch-my-work > a:hover{
    margin-top: 20px;
    color:#FF58A3;
    border: 3px #ff1d82 solid;
}
#watch-my-gallery{
    display: flex;
    align-items: center;
   justify-content: center;
   
}
#watch-my-gallery > video{
    width: 100%;
    position: relative;
}

#watch-my-gallery > a{
    position: absolute;
    font-size: 100px;
    font-family: "CHOXR";
    color: #FF58A3;
    background-color: black;
    border-radius: 80px;
    text-decoration: none;
    padding: 10px 90px;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: 0.8s

}
#watch-my-gallery:hover > a{
    opacity: 1;
}
#are-you-interested-now{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 40px;
}

#are-you-interested-now > h1{
    font-size: 200px;
    font-family: "CHOXR";
    padding: 0;
    font-weight: 8;
    line-height: 1; 
}

#are-you-interested-now > h1:first-of-type{
    color: white;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left: 90px;
}
#are-you-interested-now > h1:first-of-type > span{
    font-family: "Retrogression-Regular";
    color: #FF58A3;
}
#are-you-interested-now > h1:last-of-type{
    color: #FF58A3;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-left: 320px;
}
#are-you-interested-now > a{
    color:#FF58A3;
    font-family:"Arcadeclassic-regular" ;
    font-size: 50px;
    text-decoration: none;
    margin-bottom: 80px;
    align-items: center;
    border: 3px white solid;
    padding: 10px 60px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    align-self: center;

}
#are-you-interested-now > a:hover{
    margin-top: 20px;
    color:white;
    border: 3px #ff1d82 solid;
}
footer > p{
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#FF58A3;
    font-family: "Archivo Black", sans-serif ;
    font-size: 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

#work-section{
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}
#work-section >h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:"CHOXR" ;
    color: #FF58A3;
    font-size: 120px;
    font-weight: 100;
    margin-top: 150px;
    margin-bottom: 20px;
}
#work-section >h1 > span {
    color: white;
    font-size: 90px;
    margin: 0 20px;
}
.show-project{
   position: relative;
   max-width: 1000px;
   min-width: none;
   margin: 0 auto;
   line-height: 0;
}

.image-color{
    position: absolute; 
   border-radius: 30px;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   opacity: 0;
   transition: 0.8s;
   margin-bottom: 30px;
   z-index: 10;
   
}
.show-project:hover > .image-color {
    opacity: 1;
}
.image-byn{
    position: relative;
   border-radius: 30px;
   width: 100%;
   height: 100%;
   display: block;
    margin-bottom: 30px;
   
}
.show-project > a{
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute; 
    text-decoration: none;
   border-radius: 30px;
   font-family:"CHOXR" ;
   font-size: 50px;
   color: #ff1d82;
   border: 3px #ff1d82 solid;
   padding: 30px 40px;
   transition: 0.8s;
   text-align: center;
   left: 400px;
   top: 350px;
   z-index: 11;
   opacity: 0;

}
.show-project:hover > a {
    opacity: 1;
}
.project > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family:"CHOXR" ;
    font-size: 40px;
    margin-bottom: 0;

}

.show-project:hover ~ p {
    color: #ff1d82;
}

.project > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family:"CHOXR";
    font-size: 150px;
    font-weight: 100;
    
}
.show-project:hover ~h2 {
    color: #ff1d82;
}